* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem); }
  80% {
    transform: translateX(1.25rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem); }
  80% {
    transform: translateX(-1.25rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(1.875rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 1.875rem; }

.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem; }
  .heading-primary-main {
    display: block;
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: 2.1875rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.04rem;
    animation: moveInRight 1s ease-out; }

.heading-secondry {
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .125rem;
  transition: all .2s; }
  .heading-secondry:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tartiary {
  font-size: 1.0rem;
  font-size: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.0rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.875rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.25rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 40rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9375rem 2.5rem;
  display: inline-block;
  border-radius: 6.25rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem; }

.btn:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.0625rem);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); }

.btn-header {
  background-color: #ffff;
  color: #777; }
  .btn-header::after {
    background-color: #ffff; }

.btn-green {
  background-color: #55c57a;
  color: #ffff; }
  .btn-green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #ffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition-photo--p1 {
      left: 0;
      top: -1rem; }
    .composition-photo--p2 {
      right: 0;
      top: 2rem; }
    .composition-photo--p3 {
      left: 20%;
      top: 7rem; }
    .composition-photo:hover {
      outline: 1rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.91); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 1.6rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box--icon {
    font-size: 4rem;
    margin-bottom: .4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.3rem) scale(1.03); }

.card {
  perspective: 650rem;
  -moz-perspective: 50rem;
  height: 35rem;
  position: relative; }
  .card_side {
    background-color: orangered;
    width: 23rem;
    height: 35rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
    .card_side--front {
      background-color: #ffff; }
    .card_side--back {
      transform: rotateY(-180deg); }
      .card_side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff773e); }
      .card_side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card_side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card_side--front {
    transform: rotateY(180deg); }
  .card:hover .card_side--back {
    transform: rotateY(0); }
  .card-picture {
    background-size: cover;
    height: 14rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff773e), url(../images/nat-5.jpg); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
  .card-heading {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffff;
    position: absolute;
    text-align: right;
    top: 9rem;
    right: 1rem;
    width: 50%; }
  .card-heading-span {
    padding: .3rem 1rem .6rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 62, 0.85)); }
    .card-heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card-heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card-details {
    padding: 2rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-cta {
    margin-top: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 100%;
    text-align: center; }
  .card-price-box {
    text-align: center;
    color: #ffff;
    margin-bottom: 4rem; }
  .card-price-only {
    font-size: .9rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 4rem;
    font-family: "ThinFont", sans-serif;
    font-weight: 100; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 4rem;
  padding-left: 7rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  .story-shape {
    width: 10rem;
    height: 10rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story-img {
    height: 100%;
    transform: translateX(-2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story-text {
    transform: skewX(12deg); }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    transform: translateX(-2rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video--content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form-group:not(:last-child) {
  margin-bottom: 1rem; }

.form-input {
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form-input:focus:invalid {
    border-bottom: 3px solid #ff773e; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-label {
  font-size: .8rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  width: 40%;
  display: inline-block; }

.form-radio-input {
  display: none; }

.form-radio-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

.form-radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: -.5rem; }
  .form-radio-button::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    padding: 2.5rem 0rem 0rem 2.5rem; }
  .header-logo {
    width: 4.3rem; }
  .header-textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 71.25rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left;
    height: 3rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3)  + 3rem); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3* ((100% - 3 * 3rem) / 4) + 3rem + 3rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 18.75rem 0rem 30rem 0rem;
  margin-top: -20vh; }

.section-features {
  padding: 15rem 0rem 30rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -5rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 18.75rem 0rem 10rem 0rem;
  margin-top: -10rem; }

.section-stories {
  padding: 10.75rem 0rem 8rem 0rem;
  position: relative; }

.section-book {
  padding: 10rem 0rem 10rem 0rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
  background-size: 100%;
  height: 34rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat; }
  .book-form {
    width: 50%;
    padding: 4rem; }
