//colorr

$primary-color:  #55c57a;
$primary-color-light:  #7ed56f;
$primary-color-dark: #28b485;

$background-color-grey-light: #f7f7f7;
$background-color: #777;
$white-text-color: #ffff;
$color-black: #0000;

$color-secondry-light: #ffb900;
$color-secondry-dark: #ff773e;


$color-tartiary-light: #2998ff;
$color-tartiary-dark: #5643fa;


$color-grey-light-1: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// font-size used in learn more btn in sec2
$default-font-size: 1rem;

// grid

$grid-width: 71.25rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
$gutter-vertical-small: 4rem;