//colorr

$primary-color: #7ed56f;
$primary-color-light: #55c57a;
$primary-color-dark: #28b485;
$background-color: #777;
$white-text-color: #ffff;
$color-black: #0000;


// grid

$grid-width: 71.25rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;