

.btn{
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9375rem 2.5rem;
    display: inline-block;
    border-radius: 6.25rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
}
&:hover{
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.625rem 1.25rem rgba($color-black, 0.2);


  &::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
&:active{
  transform: translateY(-0.0625rem);
  box-shadow: 0 0.3125rem 0.625rem rgba($color-black, 0.2);
}
  &-header{
    background-color: $white-text-color;
    color: $background-color;

  &::after{
    background-color: $white-text-color;
  }
  
}

&::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}



&-animated{
  animation: moveInButton .5s ease-out .75s ;
  animation-fill-mode: backwards;
}
}
