.composition{
  position: relative;

  &-photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem;

    &--p1{
      left: 0;
      top: -1rem;
    }
    &--p2{
      right: 0;
      top: 2rem;
    }
    &--p3{
      left: 20%;
      top: 7rem;
    }

    &:hover{
      outline: 1.0rem solid $primary-color;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .5);
      z-index: 20;
    }
  }

  &:hover &-photo:not(:hover){
    transform: scale(.91);
  }

}