.section-about{
  background-color: $background-color-grey-light;
  padding: 18.75rem 0rem 30rem 0rem ;
  margin-top: -20vh;
}
.section-features{
  padding: 15rem 0rem 30rem 0rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.8)), 
  url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -5rem;
  & > *{
    transform: skewY(7deg);
  }
}
.section-tours{
  background-color: $background-color-grey-light;
  padding: 18.75rem 0rem 50rem 0rem ;
  margin-top: -20vh;
}
